*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10px;
}

h1 {
  text-align: center;
}

h1 a {
  color: #f2f2f2;
  text-decoration: none;
}

nav ul {
  text-align: center;
  margin-top: 10px;
  line-height: 1.7rem;
}
.nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  background: #ddd;
  color: black;
}

main {
  padding: 16px;
  margin-top: 200px;
  height: 1500px; /* Used in this example to enable scrolling */
}

section {
  padding: 0 10px;
}

@media screen and (min-width: 786px) {
}
