body {
    background-color: black;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    body {
        background-color: white;
        color: black;
    }
  }